$mainGrayColor: #2f3131;
$addGrayColor: #4d5356;
$legendColor: #1c1d1d;
$mainPinkColor: #ea4c88;
$linkColor: #c6cfd8;
$linkHoverColor: #fefefe;
$mainTextColor: #e4e8ed;
$addTextColor: #c1c3c5;

$fontSize : 25px;
$mainFont : Helvetica, Arial;

$paddings : 20px;

$width : 1280px;
$height: 720px; 

$leftBarWidth : 250px;

*{
	padding: 0;
	margin: 0;
	outline: none !important;
	font-size: $fontSize;
	font-family: $mainFont;
	color: $mainTextColor;
}
.nav-item, .video-item{
	color: $linkColor;
	padding: 7px 15px;
}
.focus{
	background-color: $mainPinkColor !important;
	color: $linkHoverColor !important;
}
ul{list-style: none;}
.row > div{
	padding: 0;
}


// Header
.navbar{
	background-color: $mainGrayColor;
	margin: 0;
	border: none;
	border-bottom: 1px solid $addGrayColor;
	border-radius: 0;

	.navbar-collapse{
		padding: 0;
		.menu-navigation{
			float: right;

			li{
				border-left: 1px solid $addGrayColor;
				padding: 20px 35px;
				display: inline-block;
				line-height: 1em;
			}
		}
	}
}


// Main bar
.scenes-wrapper{
	background-color: $mainGrayColor;
	position: absolute;
	width: 100%;
	top: 66px;
	bottom: 32px;
	left: 0;

	.scene{
		background-color: $mainGrayColor;
	}


	// Left bar
	.left-sidebar{
		background-color: $mainGrayColor;
		border-right: 1px solid $addGrayColor;
		width: $leftBarWidth;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		.menu-items{
			.nav-item{
				width: 100%;
			}

		}
	}
	
	.content{
		position: absolute;
		left: $leftBarWidth;
		right: 0;
		bottom: 0;
		top: 0;
	}
	// Playlist scene
	.scene-playlist{
		.row{	
			padding-left: $paddings;		
			>div{
				padding-right: $paddings;
			}

			.block{
				margin-top: $paddings;
				background-color: $addGrayColor;
				height: 300px;
			}
			.block:hover{
				background-color: $mainPinkColor;
			}
		}
	}

	.scene-settings{
		.box{
			padding-top: $paddings; 
		}
		.module-categories, .module-search_parameters{
			h2{
				text-transform: capitalize;
			}
			.nav-item{
				font-size: 20px;
				display: block;
				border-radius: 8px;
				position: relative;
				padding-left: 40px;
			}
			.nav-item:before {
				content: "";
				display: inline-block;
				color: $mainPinkColor;
				position: absolute;
				width: 16px;
    			height: 16px;
				left: 12px;
				top: 14px;
			}
			.checked:before {
				content: "\2713";
				text-align: center;
				line-height: 15px;
				font-size: 25px;
			}
			.focus{
				background-color: $mainPinkColor;
			}
			.focus:before{
				color: $mainGrayColor;
			}
		}
	}
}


// Player
.player{
	color: $mainGrayColor;
	z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

	.bottom_bar {
	    background: rgba(49, 49, 49, 0.75);
	    position: absolute;
	    left: 0;
	    width: 100%;
	    bottom: 0;
	    padding: 8px 32px;
	    height: 83px;

    	.progress{
			margin: 0;
		    border-radius: 6px;
		}
		.player_controls {
			margin-top: 8px;
		    width: 100%;
		    text-align: center;
		}
		.btn.focus{
		    //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
		.current-time, .duration {		    
		    font-size: 18px;
		    margin-top: 2px;
		}
		.current-time{
		    float: left;
		    margin-left: 8px;
		}
		.duration{
			float: right;
			margin-right: 8px;
		}
		.progress-bar {
		    transition: none;
		    background-color: $mainPinkColor;
		}
		.btn {
			border: none;
			background-color: $linkHoverColor;
		    padding: 12px 24px;
		}
		.btn > i{
			color: $addGrayColor;
		}
		.focus > i{
			color: $linkHoverColor;
		}
		.btn-lateral{
			padding: 6px 20px;
		}
	}
}


// Legend
.legend{
	background-color: $mainGrayColor;
	border-top: 1px solid $addGrayColor;
	
	.legend-item {
		span, i{
			font-size: 16px !important;
		}
		.leg-icon{
			z-index: 10;
		}
	}
}

